/*=========Login=========*/

.login-container {
    display: flex;
    justify-content: center;
    margin-top: 100px;
  }
  .login-card {
    width: 300px;
   display: flex;
   justify-content: center;
  }
/*=========Registration=========*/
  
.registration-container {
    display: flex;
    justify-content: center;
    margin-top: 100px;
  }
  .registration-card {
    width: 300px;
   display: flex;
   justify-content: center;
  }
  /*=========Reset Password=========*/
  
.resetPassword-container {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}
.resetPassword-card {
  width: 300px;
 display: flex;
 justify-content: center;
}
/*=========Forgot Password=========*/
  
.forgotPassword-container {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}
.forgotPassword-card {
  width: 300px;
 display: flex;
 justify-content: center;
}