/*=========Login=========*/

.login-container {
    display: flex;
    justify-content: center;
    margin-top: 100px;
  }
  .login-card {
    width: 300px;
   display: flex;
   justify-content: center;
  }
  .password-field{
    width: 223px;
    height: 45px;
    display: flex;
    justify-content: center;

  }
/*=========Registration=========*/
  
.registration-container {
    display: flex;
    justify-content: center;
    margin-top: 100px;
  }
  .registration-card {
    width: 300px;
   display: flex;
   justify-content: center;
  }
  /*=========Reset Password=========*/
  
.resetPassword-container {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}
.resetPassword-card {
  width: 300px;
 display: flex;
 justify-content: center;
}
/*=========Forgot Password=========*/
  
.forgotPassword-container {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}
.forgotPassword-card {
  width: 300px;
 display: flex;
 justify-content: center;
}
/*=========Dashboard Main Div=========*/
 
.mainDiv{
  display: flex;
  flex-direction: row;
}
/*====================================*/
.noteCard-component{
   display: flex;
    justify-content: center;
    margin-top: 100px;
  }
  .noteCard{
    width: 400px;
   display: flex;
   justify-content: center;
  }
   
   .notesProperties{
     visibility: hidden;  
     margin-top:170px ;
   
  }
   .noteCard:hover .notesProperties{
       visibility: visible;
     }
/*=======================*/
.drawer-container{
  
}

